1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [209]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
import pandas as pd

In [210]:
driver = webdriver.Chrome(r"C:/Users/admin/Downloads/chromedriver_win32/chromedriver.exe")

In [211]:
url= "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [212]:
rank=[]
video=[]
artist=[]
views=[]
uploaddate=[]

In [222]:
try:
    video1=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td/a')
    for i in video1:
        video.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        video.append("- -")
video1=video[0:25]
video1

['Baby Shark Dance',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 'Despacito',
 'Luis Fonsi',
 'Johny Johny Yes Papa',
 'Shape of You',
 'Ed Sheeran',
 'See You Again',
 'Wiz Khalifa',
 'Cocomelon – Nursery Rhymes',
 'Uptown Funk',
 'Mark Ronson',
 'ChuChu TV',
 'Gangnam Style',
 'Psy',
 'Dame Tu Cosita',
 'El Chombo',
 'Sugar',
 'Maroon 5',
 'Sorry',
 'Justin Bieber',
 'Roar',
 'Katy Perry',
 'Cocomelon – Nursery Rhymes',
 'Counting Stars']

In [223]:
try:
    rank1=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[1]')
    for i in rank1:
        rank.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        rank.append("- -")
rank1=rank[0:25]

In [224]:
try:
    artist1=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[3]/a')
    for i in artist1:
        artist.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        artist.append("- -")
artist[0:5]

In [225]:
try:
    view1=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[4]')
    for i in view1:
        views.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        views.append("- -")
views1=views[0:25]

In [226]:
try:
    date=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[5]')
    for i in date:
        uploaddate.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        uploaddate.append("- -")
upload1=uploaddate[0:25]

In [227]:
rank1=print(len(rank1))
video1=print(len(video1))
artist1=print(len(artist1))
views1=print(len(views1))
upload1=print(len(upload1))

25
25
25
25
25

In [231]:
youtube=pd.DataFrame({'Rank':rank1,'Video':video1,'Artist':artist1,'Views':views1,'UploadDate':upload1},index=[0])
youtube

   Rank Video Artist Views UploadDate
0  None  None   None  None       None

2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.
    
You need to find following details:
    
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code

In [232]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

In [233]:
driver= webdriver.Chrome(r"C:/Users/admin/Downloads/chromedriver_win32/chromedriver.exe")

In [75]:
url= "https://www.bcci.tv/"
driver.get(url)

In [76]:
click1=driver.find_element_by_xpath("//li[@class='nav-item ml-0']")
click1.click()

In [77]:
match=[]
Series=[]
place1=[]
date1=[]
time1=[]

In [78]:
try:
    mat=driver.find_elements_by_xpath("//span[@class='ng-binding']")
    for i in mat:
        match.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        match.append("- -")

match

['INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22',
 'Stumps Day 3',
 '(77.3 ov)',
 'ICC MENS UNDER 19 WORLD CUP 2022',
 'ICC MENS UNDER 19 WORLD CUP 2022',
 'INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22',
 'INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22',
 'ICC MENS UNDER 19 WORLD CUP 2022',
 'INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22',
 'WEST INDIES TOUR OF INDIA ODI SERIES 2022']

In [79]:
try:
    ser=driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")
    for i in ser:
        Series.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        Series.append("- -")

Series

['3rd Test - Newlands, Cape Town',
 '- Providence Stadium, Guyana',
 '- Brian Lara Stadium, Trinidad',
 '1st ODI - Boland Park, Paarl',
 '2nd ODI - Boland Park, Paarl',
 '- Brian Lara Stadium, Trinidad',
 '3rd ODI - Newlands, Cape Town',
 '1st ODI - NARENDRA MODI STADIUM, Ahmedabad']

In [80]:
try:
    pla=driver.find_elements_by_xpath("//span[@class='ng-binding ng-scope']")
    for i in pla:
        place1.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        place1.append("- -")

place1

['(76.2 ov)',
 '(29.4 ov)',
 '(67.3 ov)',
 'Newlands,',
 'Providence Stadium,',
 'Brian Lara Stadium,',
 'Boland Park,',
 'Boland Park,',
 'Brian Lara Stadium,',
 'Newlands,',
 'NARENDRA MODI STADIUM,']

In [81]:
try:
    dat=driver.find_elements_by_xpath("//div[@class='match-card-left match-schedule']")
    for i in dat:
        date1.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        date1.append("- -")
date1

['11 JAN 2022',
 '15 JAN 2022',
 '19 JAN 2022',
 '19 JAN 2022',
 '21 JAN 2022',
 '22 JAN 2022',
 '23 JAN 2022',
 '6 FEB 2022']

In [82]:
try:
    tim=driver.find_elements_by_xpath("//div[@class='match-card-right match-schedule ']")
    for i in tim:
        time1.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        time1.append("- -")
time1

['LIVE',
 '7:30 PM IST',
 '7:30 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '7:30 PM IST',
 '2:00 PM IST',
 '9:30 AM IST']

In [92]:
print(len(match[1:9]))
print(len(Series))
print(len(place1[1:9]))
print(len(date1))
print(len(time1))

8
8
8
8
8

In [94]:
Fixtures=pd.DataFrame({'Title':match[1:9], 'Series':Series, 'Place': place1[1:9], 'Date': date1,'Time':time1})
Fixtures

,Title,Series,Place,Date,Time
0,Stumps Day 3,"3rd Test - Newlands, Cape Town",(29.4 ov),11 JAN 2022,LIVE
1,(77.3 ov),"- Providence Stadium, Guyana",(67.3 ov),15 JAN 2022,7:30 PM IST
2,ICC MENS UNDER 19 WORLD CUP 2022,"- Brian Lara Stadium, Trinidad","Newlands,",19 JAN 2022,7:30 PM IST
3,ICC MENS UNDER 19 WORLD CUP 2022,"1st ODI - Boland Park, Paarl","Providence Stadium,",19 JAN 2022,2:00 PM IST
4,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"2nd ODI - Boland Park, Paarl","Brian Lara Stadium,",21 JAN 2022,2:00 PM IST
5,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"- Brian Lara Stadium, Trinidad","Boland Park,",22 JAN 2022,7:30 PM IST
6,ICC MENS UNDER 19 WORLD CUP 2022,"3rd ODI - Newlands, Cape Town","Boland Park,",23 JAN 2022,2:00 PM IST
7,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"1st ODI - NARENDRA MODI STADIUM, Ahmedabad","Brian Lara Stadium,",6 FEB 2022,9:30 AM IST

# 3. Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/
    
You need to find following details:
A) Name
B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [28]:
import selenium
import pandas as pd
import time 
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [29]:
driver= webdriver.Chrome(r"C:/Users/admin/Downloads/chromedriver_win32/chromedriver.exe")

In [234]:
driver.get("https://www.guru99.com/")

In [236]:
click2=driver.find_element_by_xpath("//*[@id='menu-item-3173']/a/span")
click2.click()

In [241]:
click_2=driver.find_element_by_id("menu-item-4622")
click_2.click

In [242]:
name=[]
description=[]

In [245]:
try:
    nam=driver.find_elements_by_xpath('//*[@id="post-193"]/div/div/h3')
    for i in nam:
        name.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        name.append("- -")
name

['Tutorial',
 'Tutorial',
 'First Look',
 'Selenium Tutorial Summary',
 'What should I know?',
 'First Look',
 'Selenium WebDriver Basics Tutorial',
 'TestNG',
 'Frameworks',
 'Advance Webdriver Stuff!',
 'Selenium IDE Tutorial',
 'Must Check!',
 'Live Selenium Project']

In [246]:
try:
    des=driver.find_elements_by_xpath('//*[@id="post-193"]/div/div/p')
    for i in des:
        description.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        description.append("- -")
description

['Selenium is a popular open-source web-based automation tool. This online course is a step by step guide to learn Selenium Concepts. It is recommended you refer these Selenium Tutorials sequentially, one after the other.',
 'This free Selenium tutorial is designed for beginners with little or no automation experience. If you are new to testing first take the basic Software Testing class.',
 'It will be beneficial if you revisit Java, before reading tutorials on Webdriver']

4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/
    
You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [247]:
import selenium
import pandas as pd
import time 
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [248]:
driver= webdriver.Chrome(r"C:/Users/admin/Downloads/chromedriver_win32/chromedriver.exe")

In [249]:
driver.get("http://statisticstimes.com/")

In [122]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='dropdown-content']/a"):
    urls.append(i.get_attribute("href"))
urls

['https://www.statisticstimes.com/index.php',
 'https://www.statisticstimes.com/india.php',
 'https://www.statisticstimes.com/economy/world-statistics.php',
 'https://www.statisticstimes.com/economy/country-statistics.php',
 'https://www.statisticstimes.com/economy/india-statistics.php',
 'https://www.statisticstimes.com/demographics/world-statistics.php',
 'https://www.statisticstimes.com/demographics/country-statistics.php',
 'https://www.statisticstimes.com/demographics/india-statistics.php',
 'https://www.statisticstimes.com/politics/india-statistics.php',
 'https://www.statisticstimes.com/geography/world-statistics.php',
 'https://www.statisticstimes.com/geography/india-statistics.php',
 'https://www.statisticstimes.com/sports/world-statistics.php',
 'https://www.statisticstimes.com/sports/india-statistics.php',
 'https://www.statisticstimes.com/article/world-statistics.php',
 'https://www.statisticstimes.com/article/india-statistics.php']

In [257]:
click3=driver.find_element_by_xpath('//div[@class="dropdown"]/button').click()

In [260]:
Rank4=[]
State=[] 
GSDP=[]
GSDP1=[]
Share=[]
GDP=[]

In [274]:
try:
    rank=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank4.append(i.text)
except:
    Rank4.append("--")
Rank=Rank4[0:33]

In [263]:
try:
    stat=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[2]')
    for i in stat:
        State.append(i.text)
except:
    State.append("--")
State[0:5]

['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Gujarat', 'Karnataka']

In [264]:
try:
    gs=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[3]')
    for i in gs:
        GSDP.append(i.text)
except:
    GSDP.append("--")
GSDP[0:5]

['-', '1,845,853', '1,687,818', '-', '1,631,977']

In [265]:
try:
    gsd=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[4]')
    for i in gsd:
        GSDP1.append(i.text)
except:
    GSDP1.append("--")
GSDP1[0:5]

['2,632,792', '1,630,208', '1,584,764', '1,502,899', '1,493,127']

In [266]:
try:
    share=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except:
    Share.append("--")
Share[0:5]

['13.94%', '8.63%', '8.39%', '7.96%', '7.91%']

In [267]:
try:
    gdp=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except:
    GDP.append("--")
GDP[0:5]

['399.921', '247.629', '240.726', '228.290', '226.806']

In [275]:
Economy=pd.DataFrame({'Rank':Rank,'State':State,'GSDP':GSDP,'GSDP1':GSDP1,'GDP':GDP,'Share':share})
Economy

,Rank,State,GSDP,GSDP1,GDP,Share
0,1,Maharashtra,-,"2,632,792",399.921,<selenium.webdriver.remote.webelement.WebEleme...
1,2,Tamil Nadu,"1,845,853","1,630,208",247.629,<selenium.webdriver.remote.webelement.WebEleme...
2,3,Uttar Pradesh,"1,687,818","1,584,764",240.726,<selenium.webdriver.remote.webelement.WebEleme...
3,4,Gujarat,-,"1,502,899",228.290,<selenium.webdriver.remote.webelement.WebEleme...
4,5,Karnataka,"1,631,977","1,493,127",226.806,<selenium.webdriver.remote.webelement.WebEleme...
5,6,West Bengal,"1,253,832","1,089,898",165.556,<selenium.webdriver.remote.webelement.WebEleme...
6,7,Rajasthan,"1,020,989","942,586",143.179,<selenium.webdriver.remote.webelement.WebEleme...
7,8,Andhra Pradesh,"972,782","862,957",131.083,<selenium.webdriver.remote.webelement.WebEleme...
8,9,Telangana,"969,604","861,031",130.791,<selenium.webdriver.remote.webelement.WebEleme...
9,10,Madhya Pradesh,"906,672","809,592",122.977,<selenium.webdriver.remote.webelement.WebEleme...
10,11,Kerala,-,"781,653",118.733,<selenium.webdriver.remote.webelement.WebEleme...
11,12,Delhi,"856,112","774,870",117.703,<selenium.webdriver.remote.webelement.WebEleme...
12,13,Haryana,"831,610","734,163",111.519,<selenium.webdriver.remote.webelement.WebEleme...
13,14,Bihar,"611,804","530,363",80.562,<selenium.webdriver.remote.webelement.WebEleme...
14,15,Punjab,"574,760","526,376",79.957,<selenium.webdriver.remote.webelement.WebEleme...
15,16,Odisha,"521,275","487,805",74.098,<selenium.webdriver.remote.webelement.WebEleme...
16,17,Assam,-,"315,881",47.982,<selenium.webdriver.remote.webelement.WebEleme...
17,18,Chhattisgarh,"329,180","304,063",46.187,<selenium.webdriver.remote.webelement.WebEleme...
18,19,Jharkhand,"328,598","297,204",45.145,<selenium.webdriver.remote.webelement.WebEleme...
19,20,Uttarakhand,-,"245,895",37.351,<selenium.webdriver.remote.webelement.WebEleme...
20,21,Jammu & Kashmir,-,"155,956",23.690,<selenium.webdriver.remote.webelement.WebEleme...
21,22,Himachal Pradesh,"165,472","153,845",23.369,<selenium.webdriver.remote.webelement.WebEleme...
22,23,Goa,"80,449","73,170",11.115,<selenium.webdriver.remote.webelement.WebEleme...
23,24,Tripura,"55,984","49,845",7.571,<selenium.webdriver.remote.webelement.WebEleme...
24,25,Chandigarh,-,"42,114",6.397,<selenium.webdriver.remote.webelement.WebEleme...
25,26,Puducherry,"38,253","34,433",5.230,<selenium.webdriver.remote.webelement.WebEleme...
26,27,Meghalaya,"36,572","33,481",5.086,<selenium.webdriver.remote.webelement.WebEleme...
27,28,Sikkim,"32,496","28,723",4.363,<selenium.webdriver.remote.webelement.WebEleme...
28,29,Manipur,"31,790","27,870",4.233,<selenium.webdriver.remote.webelement.WebEleme...
29,30,Nagaland,-,"27,283",4.144,<selenium.webdriver.remote.webelement.WebEleme...
30,31,Arunachal Pradesh,-,"24,603",3.737,<selenium.webdriver.remote.webelement.WebEleme...
31,32,Mizoram,"26,503","22,287",3.385,<selenium.webdriver.remote.webelement.WebEleme...
32,33,Andaman & Nicobar Islands,-,-,-,<selenium.webdriver.remote.webelement.WebEleme...

In [270]:
print(len(Rank4),len(State), 
len(GSDP),
len(GSDP1),
len(Share),
len(GDP),)

66 33 33 33 33 33

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code

In [31]:
import selenium
import pandas as pd
import time 
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [32]:
driver= webdriver.Chrome(r"C:/Users/admin/Downloads/chromedriver_win32/chromedriver.exe")

In [278]:
url= "https://github.com/"
driver.get(url)

In [281]:
button = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
button.click()

In [295]:
Repos_title=[]
Repos_des=[]
Contributors=[]
Language=[]

In [296]:
try:
    repos_t=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/h1/a')
    for i in repos_t:
        Repos_title.append(i.text)
except:
    Repos_title.append("--")
Repos_title[0:5]

['v4d1 / SpoofThatMail',
 'windowjs / windowjs',
 'withastro / astro',
 'CyC2018 / CS-Notes',
 'apache / superset']

In [297]:
try:
    repos_d=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/p')
    for i in repos_d:
        Repos_des.append(i.text)
except:
    Repos_des.append("--")
Repos_des[0:5]

['Bash script to check if a domain or list of domains can be spoofed based in DMARC records',
 'Window.js is an open-source Javascript runtime for desktop graphics programming.',
 'Build fast websites, faster. 🚀🧑\u200d🚀✨',
 '📚 技术面试必备基础知识、Leetcode、计算机操作系统、计算机网络、系统设计',
 'Apache Superset is a Data Visualization and Data Exploration Platform']

In [298]:
try:
    contributor=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/div[2]/a[2]')
    for i in contributor:
        Contributors.append(i.text)
except:
    Contributors.append("--")
Contributors[0:5]

['24', '17', '452', '46,146', '8,438']

In [299]:
try:
    language=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/div[2]/span[1]/span[2]')
    for i in language:
        Language.append(i.text)
except:
    Language.append("--")
Language[0:5]

['Shell', 'C++', 'TypeScript', 'Java', 'TypeScript']

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [169]:
import selenium
import pandas as pd
import time 
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [170]:
driver= webdriver.Chrome(r"C:/Users/admin/Downloads/chromedriver_win32/chromedriver.exe")

In [301]:
url= "https:/www.billboard.com/"
driver.get(url)

In [302]:
try:
    song = driver.find_element_by_xpath("//li[@class='o-nav__list-item ']").click()   
except NoSuchElementException:
    print("Exception Occured. Moving to next page")

In [318]:
try:
    art=driver.find_elements_by_xpath('//*[@id="post-1479786"]/div[3]/div/div/div/div[2]')
    for i in art:
        artist.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        artist.append("- -")
artist

['Adele',
 'Adele',
 '2',
 '1',
 '13',
 '1',
 '1\nEasy On Me\nAdele\n2\n1\n13',
 '1\nEasy On Me\nAdele\n2\n1\n13',
 '2\nStay\nThe Kid LAROI & Justin Bieber\n6\n1\n26',
 '3\nHeat Waves\nGlass Animals\n7\n3\n51',
 '3\nHeat Waves\nGlass Animals\n7\n3\n51',
 "THIS WEEK\nAWARD\ni\nLAST WEEK\nPEAK POS.\nWKS ON CHART\n1\nEasy On Me\nAdele\n2\n1\n13\n2\nStay\nThe Kid LAROI & Justin Bieber\n6\n1\n26\n3\nHeat Waves\nGlass Animals\n7\n3\n51\n4\nShivers\nEd Sheeran\n9\n4\n17\n5\nWe Don't Talk About Bruno\nCarolina Gaitan, Mauro Castillo, Adassa, Rhenzy Feliz, Diane Guerrero, Stephanie Beatriz & Encanto Cast\n50\n5\n2\n6\nIndustry Baby\nLil Nas X & Jack Harlow\n12\n1\n24\n7\nCold Heart (PNAU Remix)\nElton John & Dua Lipa\n20\n7\n18\n8\nBad Habits\nEd Sheeran\n19\n2\n28\n9\nNeed To Know\nDoja Cat\n14\n8\n30\n10\nSuper Gremlin\nKodak Black\n16\n10\n9\n11\nabcdefu\nGAYLE\n17\n11\n7\n12\nRE- ENTRY\nLevitating\nDua Lipa\n-\n2\n61\n13\nSmokin Out The Window\nSilk Sonic (Bruno Mars & Anderson .Paak)\n28\n5\n9\n14\nSurface Pressure\nJessica Darrow\n54\n14\n2\n15\nGood 4 U\nOlivia Rodrigo\n31\n1\n34\n16\nFancy Like\nWalker Hayes\n33\n3\n29\n17\nGhost\nJustin Bieber\n32\n17\n15\n18\nRE- ENTRY\nSave Your Tears\nThe Weeknd & Ariana Grande\n-\n1\n53\n19\nKiss Me More\nDoja Cat Featuring SZA\n38\n3\n38\n20\nThats What I Want\nLil Nas X\n35\n10\n16\n21\nEssence\nWizkid Featuring Justin Bieber & Tems\n36\n9\n26\n22\nOne Right Now\nPost Malone & The Weeknd\n39\n6\n9\n23\nBetter Days\nNEIKED X Mae Muller X Polo G\n46\n23\n12\n24\nOh My God\nAdele\n40\n5\n7\n25\nYou Right\nDoja Cat & The Weeknd\n42\n11\n27\n26\nHappier Than Ever\nBillie Eilish\n43\n11\n23\n27\nBroadway Girls\nLil Durk Featuring Morgan Wallen\n30\n14\n3\n28\nBuy Dirt\nJordan Davis Featuring Luke Bryan\n51\n28\n22\n29\nLove Nwantiti (Ah Ah Ah)\nCKay\n48\n29\n16\n30\nI Hate U\nSZA\n49\n7\n5\n31\nKnife Talk\nDrake Featuring 21 Savage & Project Pat\n52\n4\n18\n32\nYou Should Probably Leave\nChris Stapleton\n55\n32\n27\n33\nWay 2 Sexy\nDrake Featuring Future & Young Thug\n53\n1\n18\n34\nHrs And Hrs\nMuni Long\n83\n34\n2\n35\nRE- ENTRY\nIf I Didn't Love You\nJason Aldean & Carrie Underwood\n-\n15\n21\n36\nThinking 'Bout You\nDustin Lynch Featuring Lauren Alaina Or MacKenzie Porter\n44\n30\n21\n37\nWhiskey And Rain\nMichael Ray\n57\n37\n14\n38\nRE- ENTRY\nBeggin'\nManeskin\n-\n13\n25\n39\nMeet Me At Our Spot\nTHE ANXIETY: WILLOW & Tyler Cole\n56\n21\n17\n40\nOne Mississippi\nKane Brown\n60\n40\n15\n41\nRE- ENTRY\nMontero (Call Me By Your Name)\nLil Nas X\n-\n1\n35\n42\nBig Energy\nLatto\n62\n42\n11\n43\nSand In My Boots\nMorgan Wallen\n58\n32\n25\n44\nGirls Want Girls\nDrake Featuring Lil Baby\n59\n2\n18\n45\nFreedom Was A Highway\nJimmie Allen & Brad Paisley\n73\n45\n13\n46\nRE- ENTRY\nPepas\nFarruko\n-\n25\n21\n47\nWho Want Smoke??\nNardo Wick Featuring G Herbo, Lil Durk & 21 Savage\n61\n17\n13\n48\nEnemy\nImagine Dragons X JID\n64\n48\n7\n49\nRE- ENTRY\nLeave The Door Open\nSilk Sonic (Bruno Mars & Anderson .Paak)\n-\n1\n39\n50\nRE- ENTRY\nChasing After You\nRyan Hurd With Maren Morris\n-\n23\n30\n51\nChosen\nBlxst & Tyga Featuring Ty Dolla $ign\n63\n51\n15\n52\nTo Be Loved By You\nParker McCollum\n77\n52\n6\n53\nHalf Of My Hometown\nKelsea Ballerini Featuring Kenny Chesney\n89\n53\n8\n54\nHave Mercy\nChloe\n68\n28\n17\n55\nAll Too Well (Taylor's Version)\nTaylor Swift\n66\n1\n8\n56\nWoman\nDoja Cat\n71\n56\n23\n57\n'Til You Can't\nCody Johnson\n70\n57\n13\n58\nMy Universe\nColdplay x BTS\n72\n1\n15\n59\nHeart On Fire\nEric Church\n78\n59\n7\n60\nTequila Little Time\nJon Pardi\n85\n60\n13\n61\nFor Tonight\nGiveon\n75\n61\n14\n62\nNEW\nThe Family Madrigal\nStephanie Beatriz, Olga Merediz & Encanto Cast\n-\n62\n1\n63\nMessage In A Bottle (Taylor's Version) (From The Vault)\nTaylor Swift\n80\n45\n8\n64\nBy Your Side\nRod Wave\n76\n58\n6\n65\nDo It To It\nAcraze Featuring Cherish\n87\n65\n3\n66\nScorpio\nMoneybagg Yo\n81\n66\n7\n67\nNEW\nWhat Else Can I Do?\nDiane Guerrero & Stephanie Beatriz\n-\n67\n1\n68\nNEW\nFlower Shops\nERNEST Featuring Morgan Wallen\n-\n68\n1\n69\nNEW\nFingers Crossed\nLauren Spencer-Smith\n-\n69\n1\n70\nSame Boat\nZac Brown Band\n86\n48\n16\n71\nLife Goes On\nOliver Tree\n84\n71\n5\n72\nBeers On Me\nDierks Bentley, Breland & HARDY\n96\n72\n2\n73\nPoke It Out\nWale Featuring J. Cole\n90\n73\n8\n74\nI Am Woman\nEmmy Meli\n92\n74\n2\n75\n23\nSam Hunt\n99\n75\n2\n76\nDoin' This\nLuke Combs\n88\n53\n4\n77\nBurn\nJuice WRLD\n82\n34\n4\n78\nBubbly\nYoung Thug With Drake & Travis Scott\n91\n20\n12\n79\nPressure\nAri Lennox\n94\n79\n2\n80\nNo Love\nSummer Walker & SZA\n98\n13\n9\n81\nFamily Ties\nBaby Keem & Kendrick Lamar\n100\n18\n19\n82\nNEW\nWaiting On A Miracle\nStephanie Beatriz\n-\n82\n1\n83\nNEW\nDos Oruguitas\nSebastian Yatra\n-\n83\n1\n84\nRE- ENTRY\nToo Easy\nGunna & Future\n-\n38\n10\n85\nRE- ENTRY\nFair Trade\nDrake Featuring Travis Scott\n-\n3\n15\n86\nRE- ENTRY\nVolvi\nAventura x Bad Bunny\n-\n22\n18\n87\nNEW\nAA\nWalker Hayes\n-\n87\n1\n88\nRE- ENTRY\nCome Through\nH.E.R. Featuring Chris Brown\n-\n64\n18\n89\nWandered To LA.\nJuice WRLD & Justin Bieber\n95\n49\n5\n90\nNEW\nHome Sweet\nRussell Dickerson\n-\n90\n1\n91\nNEW\nCome Back As A Country Boy\nBlake Shelton\n-\n91\n1\n92\nAlready Dead\nJuice WRLD\n97\n20\n7\n93\nNEW\nBlack Ball\nYoungBoy Never Broke Again & Birdman\n-\n93\n1\n94\nRE- ENTRY\nBaddest\nYung Bleu, Chris Brown & 2 Chainz\n-\n56\n18\n95\nRE- ENTRY\nMoth To A Flame\nSwedish House Mafia & The Weeknd\n-\n27\n7\n96\nRE- ENTRY\nMe Or Sum\nNardo Wick, Lil Baby & Future\n-\n86\n2\n97\nNEW\nI Love You So\nThe Walters\n-\n97\n1\n98\nRE- ENTRY\nBad Man (Smooth Criminal)\nPolo G\n-\n49\n6\n99\nNEW\nNever Wanted To Be That Girl\nCarly Pearce & Ashley McBryde\n-\n99\n1\n100\nRE- ENTRY\nJust About Over You\nPriscilla Block\n-\n81\n7"]

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [97]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
driver= webdriver.Chrome(r"C:/Users/admin/Downloads/chromedriver_win32/chromedriver.exe")

In [98]:
url=" https://www.naukri.com/"
driver.get(url)

In [99]:
titl = driver.find_element_by_xpath("//input[@class='suggestor-input ']").send_keys('Data Science') 
job = driver.find_element_by_xpath("//div[@class='qsbSubmit']").click()

In [100]:
Name7=[]
Desig=[]
Skill=[]
Loc=[]

In [101]:
try:
    name1=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    for i in name1:
        Name7.append(i.text)
except:
    Name7.append("--")
Name7

['Findoc Finvest Private Limited',
 'BRIDGEi2i Analytics Solutions Private Limited',
 'AVE-Promagne',
 'Tcg Digital Solutions',
 'Accenture',
 'Perfect Day',
 'Accenture',
 'Accenture',
 'Huquo Consulting Pvt. Ltd',
 'Shell',
 'Teksands',
 'Dell',
 'Accenture',
 '3D PLM Software Solutions Ltd.',
 'Infosys',
 'Equity Data Science',
 'Lericon Informatics Pvt. Ltd.',
 'Think360.ai',
 'Accenture',
 'Accenture']

In [102]:
try:
    desig=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    for i in desig:
        Desig.append(i.text)
except:
    Desig.append("--")
Desig

['Data Science/Data Analyst',
 'BUSINESS ANALYST -DATA SCIENCE-CONSUMER',
 'Data Science Trainer cum Learning Manager',
 'Data Science Statistical Analysis and Implementation',
 'India Market Unit - Data Science Analyst - 11',
 'Data Science Analyst',
 'ACN - Applied Intelligence - Solutions.AI - Data Science - 09',
 'ACN - Applied Intelligence - CC - Data Science (IN) - 08',
 'Senior Analyst - Data Science - IIT/NIT/IIM/XLRI/FMS',
 'Data Science Team Lead',
 'Junior Machine Learning and Data Science Engineers',
 'Senior Advisor - Data Science',
 'Senior Analyst-Data Science',
 'Data Science Expert',
 'Technology Analyst: Data Science | Machine Learning',
 'Equity Data Science',
 'Data Science',
 'Lead- Data Science',
 'Data Science Application Developer',
 'Dataiku Data Science Studio (DSS) Application Developer']

In [103]:
try:
    loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
    for i in loc:
        Loc.append(i.text)
except:
    Loc.append("--")
Loc

['Gurgaon/Gurugram',
 'Bangalore/Bengaluru',
 'Guwahati, Mumbai, Hyderabad/Secunderabad, Lucknow, Pune, Agra, Chennai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Remote',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune',
 'Bangalore/Bengaluru',
 'Mumbai',
 'Mumbai, Delhi / NCR, Bangalore/Bengaluru, Mumbai/ Delhi/ Bengaluru',
 'Mumbai',
 'Mumbai',
 'Mumbai']

In [104]:
try:
    skill=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
    for i in skill:
        Skill.append(i.text)
except:
    Skill.append("--")
Skill

['4 -7 Years of experience creating and using advanced machine learning algorithms and st...',
 'Should have knowledge on techniques like Forecasting, Segmentation, etcShould have know...',
 'Support Data Science teams to design technical courses and assessments? Aid the senior ...',
 'TCG Digital is looking for Data Science Statistical Analysis and Implementation candida...',
 'Pre Placement Offer .PPO',
 'Experience in cloud technologies, specifically AWS (RDS, S3, Glue, Redshift etc) MSc / ...',
 'Role: Data Science Consultant Function: Applied Intelligence Accenture Strategy , Consu...',
 'Combining unmatched experience and specialized skills across more than 40 industries, w...',
 'Must have strong capabilities in problem solving, managing own work diligently, thoroug...',
 'The RoleFinance & Data Operations Data Science Team is tasked with delivering tangible ...',
 'Very good Knowledge of Python Good knowledge of SQLGood knowledge of Linux Scripting Go...',
 'Collects and analyzes data required for projects including web scrapping and external v...',
 'You will be required to utilize the existing frameworks, standards, patterns to create ...',
 'Certified Data Analyst from reputed institute Making sure all the documents required fo...',
 'Bachelor of Engineering Good understanding of the technology and domain Analytical abil...',
 'Will act as a business problem solver, bu ild large-scale batch and data pipelines by e...',
 'Build ability to research and make decisions based on the day-to-day and complex custom...',
 'Proficient with Statistical modeling and understanding of association miningProficient ...',
 'Professional Attributes : - Should Have good communication skills- Should be able to wo...',
 'Project Role : Application Developer Project Role Description : Design, build and confi...']

In [105]:
Name7=print(len(Name7))
Desig=print(len(Desig))
Skill=print(len(Skill))
Loc=print(len(Loc))

20
20
20
20

In [109]:
df = pd.DataFrame([{'Company':Name7,'Designation':Desig,'Location':Loc,'Skill':Skill}])
df

  Company Designation Location Skill
0    None        None     None  None

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [105]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
driver= webdriver.Chrome(r"C:/Users/admin/Downloads/chromedriver_win32/chromedriver.exe")

In [336]:
url= "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

In [427]:
Book=[]
Author=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [428]:
try:
    book=driver.find_elements_by_xpath('//*[@id="table-cell-10943-0-1"]')
    for i in book:
        Book.append(i.text)
except:
    Book.append("--")
try:
    book=driver.find_elements_by_xpath('//*[@id="table-cell-10943-1-1"]')
    for i in book:
        Book.append(i.text)
except:
    Book.append("--")
try:
    book=driver.find_elements_by_xpath('//*[@id="table-cell-10943-2-1"]')
    for i in book:
        Book.append(i.text)
except:
    Book.append("--")
try:
    book=driver.find_elements_by_xpath('//*[@id="table-cell-10943-3-1"]')
    for i in book:
        Book.append(i.text)
except:
    Book.append("--")
Book

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix']

In [429]:
try:
    author=driver.find_elements_by_xpath('//*[@id="table-cell-10943-0-2"]')
    for i in author:
        Author.append(i.text)
except:
    Author.append("--")
try:
    author=driver.find_elements_by_xpath('//*[@id="table-cell-10943-1-2"]')
    for i in author:
        Author.append(i.text)
except:
    Author.append("--")
try:
    author=driver.find_elements_by_xpath('//*[@id="table-cell-10943-2-2"]')
    for i in author:
        Author.append(i.text)
except:
    Author.append("--")
try:
    author=driver.find_elements_by_xpath('//*[@id="table-cell-10943-3-2"]')
    for i in author:
        Author.append(i.text)
except:
    Author.append("--")
Author

['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.']

In [430]:
try:
    volume=driver.find_elements_by_xpath('//*[@id="table-cell-10943-0-3"]')
    for i in volume:
        Volumes_sold.append(i.text)
except:
    Volumes_sold.append("--")
try:
    volume=driver.find_elements_by_xpath('//*[@id="table-cell-10943-1-3"]')
    for i in volume:
        Volumes_sold.append(i.text)
except:
    Volumes_sold.append("--")
try:
    volume=driver.find_elements_by_xpath('//*[@id="table-cell-10943-2-3"]')
    for i in volume:
        Volumes_sold.append(i.text)
except:
    Volumes_sold.append("--")
try:
    volume=driver.find_elements_by_xpath('//*[@id="table-cell-10943-3-3"]')
    for i in volume:
        Volumes_sold.append(i.text)
except:
    Volumes_sold.append("--")
Volumes_sold

['5,094,805', '4,475,152', '4,200,654', '4,179,479']

In [431]:
try:
    publisher=driver.find_elements_by_xpath('//*[@id="table-cell-10943-0-4"]')
    for i in publisher:
        Publisher.append(i.text)
except:
    Publisher.append("--")
try:
    publisher=driver.find_elements_by_xpath('//*[@id="table-cell-10943-1-4"]')
    for i in publisher:
        Publisher.append(i.text)
except:
    Publisher.append("--")
try:
    publisher=driver.find_elements_by_xpath('//*[@id="table-cell-10943-2-4"]')
    for i in publisher:
        Publisher.append(i.text)
except:
    Publisher.append("--")
try:
    publisher=driver.find_elements_by_xpath('//*[@id="table-cell-10943-3-4"]')
    for i in publisher:
        Publisher.append(i.text)
except:
    Publisher.append("--")
Publisher

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury']

In [432]:
try:
    genre=driver.find_elements_by_xpath('//*[@id="table-cell-10943-0-5"]')
    for i in genre:
        Genre.append(i.text)
except:
    Genre.append("--")
try:
    genre=driver.find_elements_by_xpath('//*[@id="table-cell-10943-1-5"]')
    for i in genre:
        Genre.append(i.text)
except:
    Genre.append("--")
try:
    genre=driver.find_elements_by_xpath('//*[@id="table-cell-10943-2-5"]')
    for i in genre:
        Genre.append(i.text)
except:
    Genre.append("--")
try:
    genre=driver.find_elements_by_xpath('//*[@id="table-cell-10943-3-5"]')
    for i in genre:
        Genre.append(i.text)
except:
    Genre.append("--")

Genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction"]

In [434]:
Books=pd.DataFrame({'Book':Book,'Author':Author, 'Volume_sold':Volumes_sold,'Genre':Genre})
Books

,Book,Author,Volume_sold,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805","Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Children's Fiction

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [55]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [56]:
driver= webdriver.Chrome(r"C:/Users/admin/Downloads/chromedriver_win32/chromedriver.exe")

In [435]:
url= " https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [436]:
Name9=[]
year_span=[]
Genre=[]
Run_time=[]
Rating=[]
Votes=[]

In [437]:
try:
    Name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']")
    for i in Name:
        Name9.append(i.text)
except:
    Name9.append("--")

In [438]:
try:
    year=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
    for i in year:
        year_span.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        year_span.append("- -")

In [439]:
try:
    genre=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genre:
        Genre.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        Genre.append("- -")

In [440]:
try:
    run=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in run:
        Run_time.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        Run_time.append("- -")

In [441]:
try:
    rate=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
    for i in rate:
        Rating.append(i.text)
except:
    Rating.append("--")

In [442]:
try:
    vote=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in vote:
        Votes.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        Votes.append("- -")

In [443]:
Name9=print(len(Name9))
year_span=print(len(year_span))
Genre=print(len(Genre))
Run_time=print(len(Run_time))
Rating=print(len(Rating))
Votes=print(len(Votes))

100
100
100
100
100
100

In [446]:

##ValueError: If using all scalar values, you must pass an index
#unable to solve this error

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [23]:
import selenium
import pandas as pd
import time

In [24]:
from selenium import webdriver

In [25]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [26]:
driver= webdriver.Chrome(r"C:/Users/admin/Downloads/chromedriver_win32/chromedriver.exe")

In [447]:
url= "https://archive.ics.uci.edu/"
driver.get(url)

In [448]:
try:
    click10 = driver.find_element_by_xpath("//a[@href='datasets.php']")    
    click10.click()
except NoSuchElementException:
    print("Exception Occured. Moving to next page")

In [453]:
Name=[]
type_=[]
task=[]
attribute_t=[]
no_of_inst=[]
atrribute=[]
year=[]

In [468]:
try:
    name=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a')
    for i in name:
        Name.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        Name.append("- -")
Name.insert(0, 'Name')

In [469]:
Name[0:5]

['Name', '  Abalone', 'Adult', 'Abalone', 'Adult']

In [459]:
try:
    typ=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
    for i in typ:
        type_.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        type_.append("- -")
type_[0:5]

['Data Types', 'Multivariate ', 'Multivariate ', 'Multivariate ', ' ']

In [460]:
try:
    tsk=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
    for i in tsk:
        task.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        task.append("- -")
task[0:5]

['Default Task',
 'Classification ',
 'Classification ',
 'Classification ',
 'Recommender-Systems ']

In [461]:
try:
    att=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
    for i in att:
        attribute_t.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        attribute_t.append("- -")
attribute_t[0:5]

['Attribute Types',
 'Categorical, Integer, Real ',
 'Categorical, Integer ',
 'Categorical, Integer, Real ',
 'Categorical ']

In [462]:
try:
    inst=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
    for i in inst:
        no_of_inst.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        no_of_inst.append("- -")
no_of_inst[0:5]

['# Instances', '4177 ', '48842 ', '798 ', '37711 ']

In [465]:
try:
    att=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
    for i in att:
        atrribute.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        atrribute.append("- -")
atrribute[0:5]

['# Attributes', '8 ', '14 ', '38 ', '294 ']

In [467]:
try:
    Year=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
    for i in Year:
        year.append(i.text) 
except NoSuchElementException:
    if i.text is None :
        year.append("- -")
year[0:5]

['Year', '1995 ', '1996 ', ' ', '1998 ']

In [470]:
print(len(Name),
len(type_),
len(task),
len(attribute_t),
len(no_of_inst),
len(atrribute),
len(year))

1869 1246 623 623 623 623 623

In [473]:
ML=pd.DataFrame({'Name':Name[0:100],'Type':type_[0:100],'Task':task[0:100],'Attribute':attribute_t[0:100],'NOI':no_of_inst[0:100], 'attri':atrribute[0:100],'year':year[0:100]})
ML

,Name,Type,Task,Attribute,NOI,attri,year
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Abalone,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Adult,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
95,SPECT Heart,Multivariate,Clustering,"Categorical, Integer",76,45,
96,SPECTF Heart,,,,,,1992
97,Sponge,Domain-Theory,,,1000,,1993
98,Statlog Project,Multivariate,Classification,"Categorical, Integer",151,5,1997
99,Student Loan Relational,Multivariate,Classification,Categorical,958,9,1991